<header>
    <!-- <nav class="navbar navbar-expand-md navbar-white bg-dark"> -->
        <!-- <div class="top">
            
        </div> -->
        <nav class="navbar navbar-light navbar-expand-md " style="background-color:#003399;">
        <div><a routerLink="" class="navbar-brand"><span class="vhugs" style="color:white">vHugs</span></a></div>

        <ul class = "navbar-nav"> 
            <li class="nav-item">
                <li *ngIf="loginService.isUserLoggedIn"><a routerLink="post" class="nav-link" style="color:white">Posts</a>
            </li>  
            <li class="nav-item">
                <li *ngIf="loginService.isUserLoggedIn"><a routerLink="resource" class="nav-link" style="color:white">Resources</a>
            </li>
            <li class="nav-item">
                <li *ngIf="loginService.isUserLoggedIn"><a routerLink="upload" class="nav-link" style="color:white">Upload File</a>
            </li>
            <li class>
                <li *ngIf="loginService.isUserLoggedIn"><a routerLink="addpost"><button type="submit" class="btn btn-outline-warning" style="color:white">New Post</button></a> 
            </li>

        </ul>

        <ul class="navbar-nav navbar-collapse justify-content-end">
            
           <li *ngIf="loginService.isUserLoggedIn" class="nav-link" style="color: #CCFFFF;">{{this.loginService.getUsername()}}</li>
            <li *ngIf="loginService.isUserLoggedIn"><a routerLink="logout" class="nav-link" style="color:white">Logout</a></li> 
        </ul>
</nav>
</header>