
  <div class="banner-image"></div>

  <div class="slide"><p class="content">
    Have you ever needed a hug or advice, but NOT the recognition? Maybe you’re embarrassed to ask for help <br>
    or worried about seeking resources or simply want to be in your feelings without explanation.<br>
    Try vHugs! Post anonymously and receive the support of your community or chat in real time.<br>
    Share resources or show you care with a simple virtual hug (vHug).
    </p>
  </div>

<div class="container">
  <div class="row align-items-center">
    <div class="col-4">
    </div>
     <div class="col-4">
       <div class="card" style="width: 18rem;">
         <div class="card-body">
           <h5 class="card-title">Login to vHugs</h5>
           <input type="text" name="username" [(ngModel)]="username" placeholder="Username">
           <button type="button" class="btn btn-primary" (click)="handleLogin()" style="background-color:#003399">Login</button>
         </div>
       </div>
    </div>
    <div class="col-4">

    </div>
  </div>
</div>
