
<img src="assets/bestbannerofalltimethegreatestevermadeilovecheesecake.png"/>

<div class="container">
            <div class="row align-items-center">
                <div class="col-4">
                </div>
                <div class="col-4">
                  <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Login to vHugs</h5>
                      <input type="text" name="username" [(ngModel)]="username" placeholder="Username">
                      <button type="button" class="btn btn-primary" (click)="handleLogin()" style="background-color:#003399">Login</button>
                      <button (click)="loginWithRedirect()">Authorized Login</button>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                </div>
              </div>
            </div>
<!-- 
            <footer class="footer" style="background-color:#003399">
              <div class="container">
                <span style="color:white">&copy; vHugs LLC</span>
              </div>
            </footer> -->

            <!-- <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Login to vHugs</h5>
                <input type="text" name="username" [(ngModel)]="username" placeholder="Username">
                <button type="button" (click)="handleLogin()">Login</button>
              </div>
            </div> -->